<div class="view-metadata__content">
    <div class="view-metadata__header">
        <div class="view-metadata__title" style="margin-bottom: 0;" id="viewMetadataModalTitle" role="heading" aria-level="2">
            Page metadata
        </div>
        <div aria-label="Close" class="view-metadata__close-btn view-metadata--fancy-hover" role="button" tabindex="0">
            <svg aria-hidden="true" height="15.6px" style="enable-background:new 0 0 15.6 15.6;" viewbox="0 0 15.6 15.6" width="15.6px" x="0px" y="0px">
                <rect class="sty0" height="20" transform="matrix(0.7071 0.7071 -0.7071 0.7071 7.7782 -3.2218)" width="2" x="6.8" y="-2.2"></rect>
                <rect class="sty0" height="20" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.2218 7.7782)" width="2" x="6.8" y="-2.2"></rect>
            </svg>
        </div>
    </div>
    <div class="view-metadata__body view-metadata-styled-scrollbar">
        <div class="view-metadata__showonly">
            <label class="view-metadata__label" for="viewMetadataShowOnlySelect">Showing:</label>
            <select class="view-metadata__select" name="sort-by" id="viewMetadataShowOnlySelect">
                <option value="">All</option>
            </select>
        </div>
        
        <section class="view-metadata__section view-metadata__breakdown-view-section" hidden>
            <div class="view-metadata__section-header">
                <div class="view-metadata__title" role="heading" aria-level="3">Meta tags</div>
            </div>
        </section>

        
        <section class="view-metadata__section view-metadata__open-graph-section" hidden>
            <div class="view-metadata__section-header">
                <div class="view-metadata__title" role="heading" aria-level="3">Open Graph</div>
                
                <p class="view-metadata__required">
                    <span class="view-metadata__title" role="heading" aria-level="4">Required:</span>
                    og:title, og:type, og:image, og:url
                </p>
                
                <p class="view-metadata__missing" hidden>
                    <span class="view-metadata__title" role="heading" aria-level="4" style="margin-right: 5px">Missing required:</span>
                </p>
            </div>

            <br>
        </section>

        
        <section class="view-metadata__section view-metadata__schema-section" hidden>
            <div class="view-metadata__section-header">
                <div class="view-metadata__title" role="heading" aria-level="3">
                    Schema
                </div>
                <div class="view-metadata__header-controls">
                    Validate:&nbsp;&nbsp;

                    <div class="view-metadata__rich-results-button" role="link" tabindex="0">
                        Google Rich Results
                        <svg aria-label="New window" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"/>
                        </svg>
                    </div>

                    <div class="view-metadata__schema-button" role="link" tabindex="0">
                        Schema.org
                        <svg aria-label="New window" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"/>
                        </svg>
                    </div>
                </div>
                
                <br>
            </div>
        </section>

        
        <section class="view-metadata__section view-metadata__canonical-section">
            <div class="view-metadata__section-header">
                <div class="view-metadata__title" role="heading" aria-level="3">Canonical</div>
            </div>
        </section>

        {# <section class="view-metadata__section view-metadata__code-view-section" hidden>
            <div class="view-metadata__section-header">
                <div class="view-metadata__title" role="heading" aria-level="3">Code view</div>
            </div>
        </section> #}
    </div>
</div>

<div class="view-metadata-overlay-controls">
    <div class="view-metadata-modal-btn" role="button" tabindex="0">
        &#60;meta&#62;
    </div>
</div>