<div class="view-metadata__content">
    <div class="view-metadata__header">
        <div class="view-metadata__title" id="viewMetadataModalTitle" role="heading" aria-level="2">
            Page metadata
        </div>
        <div aria-label="Close" class="view-metadata__close-btn view-metadata--fancy-hover" role="button" tabindex="0">
            <svg aria-hidden="true" height="15.6px" style="enable-background:new 0 0 15.6 15.6;" viewbox="0 0 15.6 15.6" width="15.6px" x="0px" y="0px">
                <rect class="sty0" height="20" transform="matrix(0.7071 0.7071 -0.7071 0.7071 7.7782 -3.2218)" width="2" x="6.8" y="-2.2"></rect>
                <rect class="sty0" height="20" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.2218 7.7782)" width="2" x="6.8" y="-2.2"></rect>
            </svg>
        </div>
    </div>
    <div class="view-metadata__body view-metadata-styled-scrollbar">
        <section class="view-metadata__breakdown-view-section">
            <h3 class="view-metadata__title" aria-level="3">Breakdown view:</h3>
        </section>
        <section class="view-metadata__code-view-section">
            <h3 class="view-metadata__title" aria-level="3">Code view:</h3>
        </section>
    </div>
</div>

<div class="view-metadata-overlay-controls">
    <div class="view-metadata-modal-btn" role="button" tabindex="0">
        &#60;meta&#62;
    </div>
</div>