:root {

    // Fonts
    --vmd-ff-primary: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --vmd-ff-code: Menlo, Consolas, 'DejaVu Sans Mono', monospace;

    // Spacing and alignment
    --vmd-spacing-outer-modal: 10px;
    --vmd-border-radius-common: 10px;
    --vmd-border-radius-small: 4px;
    --vmd-modal-z: 1000000;
    --vmd-body-size: 13px;

    // Colors
    --vmd-color-border: rgba(0,0,0,.08);
    --vmd-color-text: #333;
    --vmd-color-gray-100: #ededed;
    --vmd-color-gray-200: #{darken(#ededed, 6%)};
    --vmd-chevron-down: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.view-metadata-styled-scrollbar {
    scrollbar-color: rgba(0, 0, 0, .25) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        outline: 0;
        background-color: rgba(0, 0, 0, .25);
    }
}

.js-view-metadata-modal-showing {
    overflow: hidden;

    height: 100vh;

    scroll-behavior: smooth;

    .view-metadata {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.view-metadata {
    position: fixed;
    z-index: var(--vmd-modal-z);
    top: 0;
    left: 0;

    display: none;
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;

    outline: 0;
    background-color: rgba(#000, .3);

    font-family: var(--vmd-ff-primary);
    line-height: normal;

    &:focus {
        outline: 0;
    }

    * {
        box-sizing: border-box;

        color: var(--vmd-color-text);
        border: 0;
        border-radius: 0;

        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
    }

    .view-metadata__dialog {
        position: relative;

        display: flex;
        align-items: center;

        width: auto;
        max-width: 900px;
        min-height: calc(100% - (var(--vmd-spacing-outer-modal) * 2));
        margin: 10px auto;
        padding: 0 var(--vmd-spacing-outer-modal);
    }

    .view-metadata__content {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;

        width: 100%;

        pointer-events: auto;

        border-radius: var(--vmd-border-radius-common);
        outline: 0;
        background-color: #fff;
        background-clip: padding-box;
        box-shadow: 0px 19px 38px rgba(#000, .4);

        font-size: var(--vmd-body-size);
        font-weight: normal;
    }

    .view-metadata__body {
        overflow: auto;

        height: 490px;
        padding: 15px;
    }

    .view-metadata__showonly {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        .view-metadata__label {
            margin-bottom: 0;
        }

        .view-metadata__select {
            flex: 0 0 auto;
            width: auto;
            min-width: 200px;
            margin-left: 10px;
        }
    }
    
    .view-metadata__label {
        font-size: var(--vmd-body-size);
        margin-bottom: 6px;
        display: block;
    }
    
    .view-metadata__select {
        display: block;
        width: 100%;
        padding: 7.5px 33px 7.5px 10px;
        -moz-padding-start: calc(0.75rem - 3px);
        font-weight: 400;
        line-height: 1;
        background-color: #fff;
        background-image: var(--vmd-chevron-down);
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 16px 12px;
        border: 1px solid var(--vmd-color-border);
        border-radius: var(--vmd-border-radius-small);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        appearance: none;
        font-size: var(--vmd-body-size);
    }

    .view-metadata__header {
        display: flex;
        align-items: center;

        height: 53px;
        padding: 10px 15px;

        border-bottom: 1px solid var(--vmd-color-border);

        font-size: 1.16666em;
    }

    .view-metadata__title {
        margin-top: 0;
        margin-bottom: 10px;

        font-size: 18px;
        font-weight: bold;

        &[aria-level="3"] {
            font-size: 15px;
        }
        
        &[aria-level="4"] {
            font-size: var(--vmd-body-size);
        }
    }

    .view-metadata__required,
    .view-metadata__missing {
        font-size: var(--vmd-body-size);
        margin-bottom: 10px;
    }
    
    .view-metadata__missing {
        strong {
            &:after {
                content: ', ';
                font-weight: normal;
            }

            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
    }

    .view-metadata__close-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        margin-left: auto;
        padding: 0;

        cursor: pointer;

        border-radius: 50%;
        background-color: transparent;

        svg {
            width: .9em;
            height: .9em;

            pointer-events: none;

            rect {
                fill: currentColor;
            }
        }

        &:hover {
            background-color: var(--vmd-color-gray-100);
        }
    }

    .view-metadata__body {
        font-size: var(--vmd-body-size);
    }

    .view-metadata__section {
        margin-bottom: 25px;
        border-bottom: 1px solid var(--vmd-color-border);
        padding-bottom: 25px;
    }
    
    .view-metadata__hr {
        height: 1px;
        margin: 0 0 20px 0;
    }

    [hidden] + .view-metadata__hr {
        display: none;
    }

    .view-metadata__code-view-section {
        display: none;
    }

    .view-metadata__schema-section {
        .view-metadata-entry {
            padding-left: 0;
            margin-bottom: 0;
            width: calc(100% - 15px);
            margin-left: auto;
        }

        .view-metadata-entry__item {
            margin-bottom: 10px;
        }

        .view-metadata-entry__attr-name {
            flex: 0 0 120px;
            width: 120px;
        }
    }

    .view-metadata-schema-list {
        list-style-type: none;
        font-size: var(--vmd-body-size);
        padding-left: 15px;
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        .view-metadata-schema-list {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    .view-metadata-schema-list__item {
        margin-bottom: 10px;
    }

    .view-metadata__rich-results-button,
    .view-metadata__schema-button {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 14px;
        background-color: var(--vmd-color-gray-100);
        border-radius: var(--vmd-border-radius-small);
        font-size: var(--vmd-body-size);
        margin: 2.5px 10px 2.5px 0;
        font-weight: normal;
        height: 26px;

        svg {
            width: 10px;
            height: auto;
            margin-left: 5px;
        }
    }

    .view-metadata__open-graph-section {
        .view-metadata-entry {
            flex-direction: row;
            padding-left: 15px;

        }
        
        .view-metadata-entry--required {
            &:before {
                content: '✓';
                color: yellowgreen;
                display: inline-block;
                width: 0;
                overflow: visible;
                text-indent: -15px;
            }
        }

        .view-metadata-entry__attr-value {
            &:first-child {
                flex: 0 0 120px;
                width: 120px;
                font-weight: bold;
            }
        }
    }

    .view-metadata__open-graph-image {
        width: 100%;
        max-width: 100px;
        height: auto;
    }

    .view-metadata-entry {
        position: relative;

        display: flex;
        flex-direction: column;

        margin-bottom: 10px;
        padding-left: 50px;

        &.view-metadata-entry--code {
            padding-left: 0;

            border: 0;

            font-family: var(--vmd-ff-code);
            font-size: 12px;
            font-weight: 500;
            line-height: 1.3;
        }
    }

    .view-metadata-entry__tag {
        position: absolute;
        top: 2px;
        left: 0;

        width: 40px;

        opacity: .65;

        font-size: 11px;
    }

    .view-metadata-entry__item {
        display: flex;

        margin-bottom: 2px;
    }

    .view-metadata-entry__attr-name {
        flex: 0 0 70px;

        width: 70px;

        font-weight: bold;
    }
}

.view-metadata-overlay-controls {
    position: static;

    overflow: visible;

    width: 1px;
    height: 1px;
}

.view-metadata-modal-btn {
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 24px;
    padding: 0;

    cursor: pointer;

    border: 1px solid var(--vmd-color-gray-200);
    border-radius: 4px;
    background-color: var(--vmd-color-gray-100);
    box-shadow: 1px 1px 5px rgba(#000, .2);

    font-family: var(--vmd-ff-code);
    font-size: 12px;
    line-height: 0;
    z-index: 10000;

    &:hover {
        box-shadow: none;
    }
}
